header {
    align-items: center;
    background-image: linear-gradient(90deg, rgba(230, 152, 132, 0.4), 70%, transparent);
    display: flex;
    height: 120px;
    justify-content: space-between;
    padding: 0 2% 0 5%;
    transition: all 800ms ease-in-out;
    width: 100%;
}

h1 {
    color: var(--grey-purp);
    font-family: 'Inconsolata', monospace;
    font-size: 1.8rem;
    font-weight: 400;
    letter-spacing: .4em;
    line-height: 1.2;
    position: relative;
    width: 60%;
}

.nav-links {
    font-family: 'Inconsolata', monospace;
    font-weight: 500;
    line-height: 1.7;
    list-style: none;
    text-align: right;
}

.nav-link {
    color: white;
}

.header-center-line {
    background-image: linear-gradient(90deg, var(--grey-purp), 60%, white);
    height: 1px;
    position: absolute;
    left: 3%;
    right: 0;
}

@media screen and (min-width: 651px) {
    .header-center-line {
        bottom: 40px;
    }
    .nav-links {
        top: 18px;
    }
}

@media screen and (min-width: 700px) {
    header {
        padding: 0 5%;
    }
}
