/* .card-wrapper {
    align-items: center;
    display: flex;
    flex-shrink: 0; */
    /* height: 450px; */
    /* scroll-snap-align: start;
    width: 100%;
} */

.card {
    background-color: rgb(255, 255, 255, 1);
    border: 1px solid var(--grey-purp);
    height: 300px;
    margin: 0 auto;
    padding: 5%;
    white-space: normal;
    width: 300px;
}

.transparent {
    height: 400px;
    width: 350px;
}

.cover {
    background-color: rgba(75, 75, 75, .7);
    border: 1px solid rgba(255, 255, 255, .8);
    height: 100%;
    padding-top: 10%;
    width: 100%;
}

.title-wrapper {
    background-color: rgba(75, 75, 75, .7);
    border: 1px solid rgba(255, 255, 255, .8);
    height: fit-content;
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 5px 10px;
    text-align: center;
    width: 100%;
}

h3 {
    font-family: 'Inconsolata';
    font-size: 1.3rem;
    font-weight: 500;
}

.description {
    background-color: transparent;
    font-family: 'Open Sans', sans-serif;
    font-size: .9rem;
    font-weight: 400;
    padding: 4px 5%;
    width: 100%;
}

.project-links {
    display: flex;
    justify-content: space-evenly;
}

.project-links a {
    border-bottom: 1px solid var(--grey-purp);
    font-size: .9rem;
    margin-top: 20px;
}

.project-links a:hover {
    border-bottom: 1px solid rgb(142 159 145);
    color:rgb(142 159 145);
}

/* .img-wrapper {
    margin: 10% auto;
    width: 80%;
} */

/* img {
    width: 100%;
} */

/* .card a {
    font-family: 'Inconsolata', monospace;
    font-size: 1.2rem;
} */

/* @media screen and (min-width: 700px) {
    .card {
        margin-bottom: 10px;
        width: 90%
    }
}

@media screen and (min-width: 700px) and (orientation: portrait) {
    .card-wrapper {
        width: 50%;
    }
}

@media screen and (min-width: 700px) and (orientation: landscape) {
    .card-wrapper {
        width: 33.3%;
    }
} */