.card {
    background-color: rgb(255, 255, 255, 1);
    border: 1px solid var(--grey-purp);
    height: 275px;
    margin: 0 auto;
    padding: 9px;
    transition: all ease-in-out 800ms;
    white-space: normal;
    width: 275px;
}

.transparent {
    height: 400px;
    /* width: 350px; */
}

.cover {
    background-color: var(--grey);
    border: 1px solid rgba(255, 255, 255, .8);
    height: 100%;
    padding-top: 20%;
    width: 100%;
}

.card-front {
    background-position: center;
    background-size: cover;
    cursor: pointer;
    height: 100%;
    width: 100%;
}

.card-front {
    filter: grayscale(80%);
}

.card-front:hover,
.card-front:active {
    filter: grayscale(0%);
}

.card-back {
    background-color: white;
    position:absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: rotate3d(0, 1, 0, 180deg);
}

.title-wrapper {
    background-color: var(--grey);
    border: 1px solid rgba(255, 255, 255, .8);
    height: fit-content;
    margin: 0 auto;
    padding: 5px 10px;
    text-align: center;
    width: 100%;
}

h3 {
    font-family: 'Inconsolata';
    font-size: 1.3rem;
    font-weight: 500;
    text-align: center;
}

.card-content {
    display: flex;
    flex-direction: column;
    height: 205px;
    justify-content: space-between;
    padding-bottom: 10px;
}

#card3 .card-content {
    height: 183px;
}

.role {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-style: italic;
    margin: 0 auto;
}

.description {
    background-color: transparent;
    font-family: 'Open Sans', sans-serif;
    font-size: .9rem;
    font-weight: 400;
    padding: 4px 5%;
    width: 100%;
}

/* .project-links-wrapper {
    bottom: 4%;
    position: absolute;
    width: 100%;
} */

/* .project-links {
    display: flex;
    justify-content: space-evenly;
} */

/* .project-links a {
    border-bottom: 1px solid var(--grey-purp);
    font-size: .9rem;
    /* margin-top: 20px; */
/*} */

/* .project-links a:hover {
    border-bottom: 1px solid rgb(142, 159, 145);
    color: rgb(142, 159, 145);
} */

.flip-arrow {
    bottom: -10px;
    color: var(--grey-purp);
    cursor: pointer;
    font-size: 2rem;
    font-weight: lighter;
    position: absolute;
    right: 0;
    z-index: 2;
}

.flip-enter {
    transform: rotate3d(0, 1, 0, -180deg);
}

.flip-enter-active {
    transform: rotate3d(0, 1, 0, 0deg);
    transition: all 800ms;
}

.flip-enter-done {
    transform: rotate3d(0, 1, 0, 0deg);
}

.flip-exit-active {
    transform: rotate3d(0, 1, 0, -180deg);
    transition: all 800ms;
}

.flip-exit-done {
    transform: rotate3d(0, 1, 0, -180deg);
}

.card-back-enter {
    opacity: 0;
}

.card-back-enter-active {
    opacity: 1;
    transition: all 800ms;
}

.card-back-exit {
    opacity: 1;
}

.card-back-exit-active {
    opacity: 0;
    transition: all 800ms;
}

/* @media screen and (min-width: 700px) {
    .card {
        margin-bottom: 10px;
        width: 90%
    }
}

@media screen and (min-width: 700px) and (orientation: portrait) {
    .card-wrapper {
        width: 50%;
    }
}

@media screen and (min-width: 700px) and (orientation: landscape) {
    .card-wrapper {
        width: 33.3%;
    }
} */