@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;500&family=Libre+Barcode+39+Text&family=Open+Sans:wght@300;400&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
    padding: 0;
    color: rgba(255, 255, 255, 1);
}

html, body {
    height: 100%;
}

main {
    overflow-y: scroll;
    position: fixed;
    top: 120px;
    bottom: 40px;
    scroll-snap-type: y mandatory;
    width: 100%;
}

section {
    height: 100%;
    padding: 5%;
    scroll-snap-align: start;
}

h2 {
    background-color: rgba(88, 128, 74, 0.2);
    font-family: 'Inconsolata', monospace;
    font-size: 1.5rem;
    font-weight: lighter;
    padding: 5px 8px;
    width: max-content;
}

p {
    background-color: rgba(88, 128, 74, 0.3);
    font-family: 'Inconsolata', monospace;
    font-size: 1.1rem;
    padding: 5%;
    width: max-content;
}

.emoji {
    font-size: 1.5rem;
}


/* PORTFOLIO */

#portfolio {
    display: flex;
    flex-flow: column;
}

/* #portfolio-header {
    margin-bottom: 5%;
    width: 100%;
} */

.portfolio-wrapper {
    align-items: center;
    display: flex;
    flex-grow: 1;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    white-space: nowrap;
}

/* CONTACT */

#contact h2 {
    margin-bottom: 5%;
}

#contact a {
    font-family: 'Inconsolata', monospace;
    font-size: 1rem;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
