@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;500&family=Libre+Barcode+39+Text&family=Open+Sans:wght@300;400&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
    padding: 0;
    color: rgba(255, 255, 255, 1);
    scroll-behavior: smooth;
}

:root {
    --grey-purp: rgb(84, 74, 77);
    --light-green: rgba(88, 128, 74, 0.3);
    scroll-behavior: smooth;
}

html, body {
    height: 100%;
    scroll-behavior: smooth;
}

main {
    overflow-y: scroll;
    position: fixed;
    top: 120px;
    bottom: 40px;
    scroll-snap-type: y mandatory;
    width: 100%;
}

section {
    height: 100%;
    padding: 5%;
    scroll-snap-align: start;
}

#welcome {
    padding-top: 30%;
}

#contact {
    padding-top: 15%;
}

a {
    color: var(--grey-purp);
    text-decoration: none;
}

a:visited {
    color: var(--grey-purp);
}

a:hover {
    color: rgb(255, 255, 255);
}

h2 {
    background-color: rgba(88, 128, 74, 0.2);
    font-family: 'Inconsolata', monospace;
    font-size: 1.5rem;
    font-weight: lighter;
    padding: 5px 8px;
    width: max-content;
}

p {
    color: var(--grey-purp);
    font-family: 'Inconsolata', monospace;
    font-size: 1.3rem;
    padding: 5%;
    width: max-content;
}

.emoji {
    background-color: var(--light-green);
    color: white;
    font-size: 1.5rem;
}


/* PORTFOLIO */

#portfolio {
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding-bottom: 40%;
}

/* #portfolio-header {
    margin-bottom: 5%;
    width: 100%;
} */

.portfolio-wrapper {
    /* align-items: center; */
    display: flex;
    /* flex-grow: 1; */
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    white-space: nowrap;
}

#cover-card .title-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 0;
}

h2 {
    background-color: transparent;
    font-family: 'Inconsolata';
    font-size: 1.6rem;
    font-weight: 400;
    margin: 0 auto;
    padding-top: 10px;
}

#arrow {
    color: white;
    font-size: 3rem;
    margin: 0 auto;
}

#cover-card .emoji {
    background-color: transparent;
    margin: 0 auto;
}

/* CONTACT */

/* #contact h2 {
    margin-bottom: 5%;
} */

#contact a {
    font-family: 'Inconsolata', monospace;
    font-size: 1.3rem;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (min-width: 700px) {
    a {
        font-size: 1.1rem;
    }
    .emoji {
        font-size: 1.7rem;
    }
    #portfolio {
        display: block;
        padding: 0 5%;
    }
    .portfolio-wrapper {
        align-items: start;
        flex-wrap: wrap;
        justify-content: space-evenly;
        /* display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, 1fr); */
        height: calc(100vh - 240px);
        overflow: inherit;
    }
    .portfolio-header {
        padding-top: 1%;
        margin-bottom: 3%;
    }
    .portfolio-header h2 {
        color: rgba(88, 128, 74, 0.7);
        margin: 0;
    }
}

@media screen and (min-width: 700px) and (orientation: landscape) {
    #welcome, #contact {
        padding-top: 10%;
    }
}